
.collapse{
    margin-left: 300px;
margin-top: 0px;
margin-bottom: 0%;
padding: 0%;
}
.navbar-brand{
    margin-left: 100px;

}
.btn{
    margin-right: 70px;
}
img{
    margin-top: 30px;
    width: 500px;
}
.card-body{
    position: relative;
    left: 150px;
   
}
.img-fluid {
    position: relative;
    left: 30px;
   
}

.card {
    background-color: blue;
}
.asd{
    width: 100px;
    height: 30px;
}
.col{
    margin-bottom: 50px;
}
.text-start{
    position: relative;
    top: 25px;
}
.asdf {
    position: relative;
    top: 50px;
}
.ahmed1{
    background-color: #37517e;
}
.ahmed3{
    background-color:  gainsboro;
    height: 500px;
}
.ahmed4{
    position: relative;
    bottom: 50px;
}
.ahmed5{
    position: relative;
    bottom: 50px;
}
.btn3 {
position: relative;
top: 80px;
}
.ahmed6{
    width: 100%;
    background-attachment:fixed;

    background-image: url(img/cta-bg.jpg);
}
.em1{
    width: 250px;
    height: 400px;
}
.em2{
    width: 250px;
    height: 300px;
}
.em3{
    width: 250px;
    height: 300px;
}
.em4{
    width: 250px;
    height: 400px;
}
.em5{
    width: 250px;
    height: 400px;
    position: relative;
    bottom: 100px;
}
.em6{
    width: 250px;
    height: 200px;
    position: relative;
    bottom: 100px;
}
.em7{
    width: 250px;
    height: 300px;
    position: relative;
    bottom: 100px;
}
.em8{
    width: 250px;
    height: 200px;
    position: relative;
    bottom: 300px;
    right: 25px;
}
.em9{
    width: 250px;
    height: 200px;
    position: relative;
    bottom: 350px;
    right: 25px;
}
.asd123{
    position: relative;
    right: 100px;
}
.img-fluid {
    border-radius: 5000px;
}
.zxc123{
    position: relative;
    right: 90px;
}
.teeam{
    background-color:  #fff;
}
.asdf1{
    background-color: lightgray;
}
.xcv1{
    position: relative;
    bottom: 50px;
}
.zxcv1{
    position: relative;
    bottom: 60px;
}
.dfgh1{
    background-color: lightgray;
    height: 180px;
}
.bnm1{
    background-color: lightgray;
}
.arsd{
    color: darkblue;
}
.sdfc{
  background-color:   #37517e;
  height: 40px;
  color: #fff;
}
.hjkl{
    width: 530px;
}